$mainColor       :#3373e9;
$secondColor     :white;
$thirdColor      :black;
$fourthColor     :#303030;

.my_d-flex{
    display: flex;
}

.btn_singup{
    color: $secondColor;
    border: solid 1px $mainColor;
    padding: 10px 15px;
    text-decoration: none;
  }
  